# Resource locations to be added to the default path
[General]
FileSystem=./Media
FileSystem=./Media/fonts
FileSystem=./Media/materials/programs
FileSystem=./Media/materials/scripts
FileSystem=./Media/materials/textures
FileSystem=./Media/models